html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	border: 0;
	outline: 0;
	font-size: 104%;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.3;
	color: #efebef;
	background-color: #000000;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



.kc-listwrapper>ul#kc-postlist {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
}

ul#kc-postlist>li {
	list-style: none outside none;
	position: relative;
	line-height: 25px;
	font-size: 75%;
	font-family: 'Droid Sans';
	font-weight: 500;
	color: #8cc708;
	/*border-bottom: 1px solid #3d3f3d;*/
	margin: 0;
	padding: 0 0 0.5em 0;
}

ul#kc-postlist>li.unread {

}

ul#kc-postlist>li.read {
	display: none;
	background-color: #red;
}

ul#kc-postlist>li.even {
	background: transparent;
}

ul#kc-postlist>li.odd {
	background: #00080a;
}

li>div>div.posthead {
	height: 3.5em;
	margin-bottom: 0.5em;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #202020 0%,#181818 18%,#111111 60%,#000000 100%);	
	text-indent: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* click on postheader to cite posting */
ul#kc-postlist>li>div>div.posthead.active {
	background: rgba(140, 199, 8, 0.2);	
	border: 2px solid #8cc708;	
}

ul#kc-postlist>li>div>div.posthead>div.img {
	/*background: #000;*/
}

ul#kc-postlist>li>div>div.image-container {
	padding-left: 10px;
}

p.headline {
	position: relative;
	width: 100%;
	font-weight: 700;
}

p.headline>b {
	/*display: inline-block;
	width: 1.5em;*/
	color: #8cc708;
}

p.headline>i {
	color: #dfdbdf;
	float: right;
}

p.headline>time {
	color: #dfdbdf;
	float: right;
}

p.topic {
	display: block;
	font-weight: 700;
	margin-top: -.7em;
	padding-bottom: .5em;
	padding-top: .5em;
	position: relative;
	width: 100%;
}

li>div>p {
	display: inline-block;
	width: 20em;
	overflow: hidden;
	color: #efebef;
	width: auto;
	font-weight: 500;
	line-height: normal;
	padding-left: 5px;
}


div.cloned {
	background: #222;
	z-index: 1001;
}

/* basic styles for links */
div>p a { 
	display: inline-block;
	background: #333;
	/*font-size: 12px;*/
	border-radius: 2em;
	padding: 0.2em 1em 0.6em 1em;
	margin: 0.1em 1px 0.1em 1px;
	color: #E0E0E0;
	text-decoration: none;
}

/* KC-internal links */
a.kclnk>span {
	position: relative;
	top: .2em;
}

a.kclink { 
	/*background: -webkit-gradient(linear, left top, left bottom, from(#4084f4),to(#194fdc));*/
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#111) );
}

/* youtube links */
a.ytlink {
	background: -webkit-gradient(linear, left top, left bottom, from(#f44420), to(#111) );
}

/* links to external sites */
a.extlink {
	background: -webkit-gradient(linear, left top, left bottom, from(#2EADF2), to(#111) );
}

/*link clicked */
a:active { background: -webkit-gradient(linear, left top, left bottom, from(#111),
		to(#999) );
}



.ban_mark {
    color: #FF0000;
    font-weight: bold;
}




span.quote {
	padding-left: 10dp;
	color: #a0a0a0;
}

#quoteoverlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 10em;
	background: transparent;
}

#backdrop {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .4;
}

.cloned {
	top: 3em;
	left: 0;
	right: 0;
	width: auto;
	font-size: small;
	position: absolute;
	margin: 0;
	padding: 1em;
	border: 3px solid #8cc708;
	border-radius: 6px;
	background: black;
	overflow: hidden;
	z-index: 2;
}



* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}